@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&family=Playfair+Display:wght@500;600;700;800&display=swap");

@import "tailwindcss";

body {
  font-family: "Inter", sans-serif;
}





#google_translate_element {
  position: absolute;
  left: -9999px;
  top: 0;
  visibility: hidden;
}

.goog-te-banner-frame,
.goog-te-banner-frame.skiptranslate,
iframe.goog-te-banner-frame {
  display: none !important;
}

body {
  top: 0 !important;
}

.goog-te-banner-frame {
  display: none !important;
}

.goog-te-banner-frame.skiptranslate {
  display: none !important;
}

body {
  top: 0px !important;
}

html {
  margin-top: 0px !important;
}

.skiptranslate iframe {
  display: none !important;
}